name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.GITHUB_TOKEN }}
          
          # Configurações Gerais
          user: martimgil
          template: classic
          filename: github-metrics.svg
          config_timezone: Europe/Lisbon
          
          # --- ESTATÍSTICAS BÁSICAS ---
          base: header, community, repositories
          
          # --- LINGUAGENS  ---
          plugin_languages: yes
          plugin_languages_limit: 8          
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          
          # --- CONQUISTAS ---
          plugin_achievements: yes
          plugin_achievements_display: compact
          
          retries: 3
          retries_delay: 300
